# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Shawn M Moore <code@sartak.org> Sartak <Sartak@bd8105ee-0ff8-0310-8827-fb3f25b6796d>
Dagfinn Ilmari Mannsåker <ilmari@ilmari.org> ilmari <ilmari@bd8105ee-0ff8-0310-8827-fb3f25b6796d>
<ilmari@ilmari.org> <ilmari@cpan.org>
 יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> nothingmuch <nothingmuch@bd8105ee-0ff8-0310-8827-fb3f25b6796d>
Matt S Trout <mst@shadowcat.co.uk> matthewt <matthewt@bd8105ee-0ff8-0310-8827-fb3f25b6796d>
Stevan Little <stevan.little@iinteractive.com> stevan <stevan@bd8105ee-0ff8-0310-8827-fb3f25b6796d>
Tomas Doran (t0m) <bobtfish@bobtfish.net> t0m <t0m@bd8105ee-0ff8-0310-8827-fb3f25b6796d>
